
.navbar-default {
  background-color:#0E6655;
  border-color: #2980b9;
}
.navbar-default .navbar-brand {
  color: #0E6655;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: black;
}
.navbar-default .navbar-text {
  color: black;
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: black;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #0E6655;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: #0E6655;
}
.navbar-default .navbar-toggle {
  border-color: #0E6655;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0E6655;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color:black;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: black;
}
.navbar-default .navbar-link {
  color: black;
}
.navbar-default .navbar-link:hover {
  color: black;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: black;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: black;
    background-color:#0E6655;
  }
}

